# Dependencies
node_modules/
/jspm_packages/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*


# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.test

# Build artifacts
/build
/dist
/coverage

# Optional caches
.npm
.eslintcache
.cache

